.div-list{
	height:250px;
	width: 500px;
	border: solid black 1px;
}
.div-list-done{
	height: 250px;
	width: 500px;
	border: solid black 1px;
}
.theList-done{
	height: 250px;
	width: 500px;
}
#wip:hover{
	border-bottom: 1px solid black;
}
#completed:hover{
	border-top: 1px solid black;
}