
.todoListMain .header form {
  display: flex;
  align-items: center;
}
.todoListMain .header button {
  background: none;
  border: none;
  color: rgb(204, 204, 204);
  padding: 0px;
  cursor: default;
  height: 24px;
}
.todoListMain .theList {
  position: absolute;
  padding-left: 0;
  height: 1000px;
} 
.todoListMain .theList li {
  display: flex;
  align-items: center;
}
.todoListMain .theList li button {
  background: none;
  border: none;
  color: rgb(255, 34, 68);
  padding: 0px;
  cursor: pointer;
}
.todoListMain .theList-done {
  position: absolute;
  padding-left: 0;
  height: 1000px;
} 
.todoListMain .theList-done li {
  display: flex;
  align-items: center;
}
.todoListMain .theList-done li button {
  background: none;
  border: none;
  color: rgb(255, 34, 68);
  padding: 0px;
  cursor: pointer;
}